body {
  background-color: #fbfaf5;
  font-size: 1em;
  line-height: 1.5em; }

h1 {
  font-size: 2em;
  line-height: 1.125em;
  margin-top: 0.75em;
  margin-bottom: 1.125em; }

a {
  color: #62236b;
  text-decoration: none; }
  a.twitter:before {
    content: url(/assets/images/twitter-bird-16x16.png) " "; }
  a.github:before {
    content: url(/assets/images/GitHub-Mark-16px.png) " "; }

/*
*
*  Simple elastic gutters
*  Assuming gutter width of 1.5em
*
*/
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
header, .main-content {
  margin: 0 5.55556%;
  clear: both; }

header img {
  float: left; }
header section {
  margin-top: 3em;
  margin-bottom: 2.25em;
  padding-left: 5.25em; }
  header section h1 {
    margin: 0; }
  header section p {
    margin: 0; }
  header section img {
    margin: 0; }

article header {
  margin: 0; }
article p {
  padding: 0; }

p {
  margin-bottom: 1.5em; }

/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*	
*
*/
@media screen and (min-width: 61.5em) {
  header, .main-content {
    margin: 0 16.66667%; } }
