body {
  background-color: #fbfaf5;
  font-size: 1em;
  line-height: 1.5em; }

h1 {
  font-size: 2em;
  line-height: 1.125em;
  margin-top: 0.75em;
  margin-bottom: 1.125em; }

a {
  color: #51007a;
  text-decoration: none; }
  a.twitter:before {
    content: url(/assets/images/twitter-bird-16x16.png) " "; }
  a.github:before {
    content: url(/assets/images/GitHub-Mark-16px.png) " "; }

ul {
  list-style: none; }

p, footer {
  margin-bottom: 1.5em; }

/*
*
*  Simple elastic gutters
*  Assuming gutter width of 1.5em
*
*/
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
header, .main-content, footer {
  margin: 0 5.55556%;
  clear: both; }

.wrapper, .left, .right {
  float: left; }

header div.left {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  header div.left * {
    margin: 0; }
header div.right {
  margin-bottom: 1.5em; }
  header div.right * {
    margin: 0; }

article header, article footer {
  margin: 0; }
article p {
  padding: 0; }

ul header {
  margin: 0; }

div.highlight {
  margin-bottom: 1.5em; }

@media screen and (min-width: 28.5em) {
  header div.left, header div.right {
    margin-top: 3em;
    margin-bottom: 1.5em; } }
/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*	
*
*/
@media screen and (min-width: 61.5em) {
  header, .main-content, footer {
    margin: 0 16.66667%; } }
