body {
  font-size: 1em;
  line-height: 1.5em; }

h1 {
  font-size: 2em;
  line-height: 1.125em;
  margin: 0.75em 0 1.125em; }

/*
*
*  Simple elastic gutters
*  Assuming gutter width of 1.5em
*
*/
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
header, .main-content {
  margin: 0 5.55556%; }

article header {
  margin: 0; }

p {
  margin-bottom: 1.5em; }

/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*	
*
*/
@media screen and (min-width: 61.5em) {
  header, .main-content {
    margin: 0 16.66667%; } }
