<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/stylesheets/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/stylesheets/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/stylesheets/application.css" type="text/css" rel="stylesheet"/>
    {% if site.env == 'DEV' %}
      <script type="text/javascript" src="/assets/javascripts/GGS.js"></script>
    {% endif %}
  </head>
  <body>
    <header class="wrapper">
      <img src="/assets/images/ali_small.jpg">
      <section>
        <h1>ali ibrahim</h1>
        <p><i>ah-lee ih-brah-him or ah-lee-e-brah-heem</i></p>
        <a href='https://twitter.com/alimeye' class="twitter" target="_blank">
          alimeye
        </a>
        <a href='https://github.com/alimi' class="github" target="_blank">
          alimi
        </a>
      </section>
    </header>
    {{ content }}
  </body>
</html>
